# General files
*.zip
!reports/*.zip
*.bak
*.sav

# Credentials
.env

# Python
**/__pycache__/
**/.mypy_cache/

# Database dumps
db_dump/

# Temporary download directory
raw_data/gdelt/*

# Misc.
objectdb
~*.xlsx
*.log
~*