[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
autopep8 = "*"
rope = "*"

[packages]
beautifulsoup4 = "*"
requests = "*"
tqdm = "*"
pandas = "*"
lxml = "*"
psycopg2-binary = "*"
python-dotenv = "*"

#[requires]
#python_version = "3.7"
